extends ../layout
include ../header

block title
    title= 'Iklant-Reports Management'

block scripts
    include ../headerJqueryMobile-1
    script(type="text/javascript", src="/javascripts/reportmgmt.js")

block content
    div(data-role='page', data-theme='b')
        +header("",["menu","logout"])
        div(id="menu", data-theme="b", data-overlay-theme="b", class="ui-content", align="center")
            div(id="menuDetails", data-theme="a", class="ui-bar ui-grid-a", data-overlay-theme="b", data-inline="true")
                div(data-role="horizontal", id="menuDetailsId", data-theme="a", class="ui-bar ui-grid-b", data-overlay-theme="a", data-inline="true")
                    -if(roleId != constObj.getCCEroleId()&& roleId != constObj.getDEOroleId()) {
                        //-div(class="ui-block-a")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href=contextPath + '/client/ci/loadReportsByCategory/#{constObj.getGroupsReports()}', rel="external", title='Groups', data-inline='true')
                                    img(id='groupIcon', src='/images/GroupManagement.png',width='75%',height='75%')
                                    h3(class='menu-label') Groups
                        div(class="ui-block-b")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href=contextPath + '/client/ci/loadReportsByCategory/#{constObj.getGroupMembersReports()}', rel="external", title='Group Members', data-inline='true')
                                    img(id='groupIcon', src='/images/g_member.png',width='75%',height='75%')
                                    h3(class='menu-label') Group Members
                        div(class="ui-block-c")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href=contextPath + '/client/ci/loadReportsByCategory/#{constObj.getPortfolioReports()}', rel="external", title='Portfolio', data-inline='true')
                                    img(id='groupIcon', src='/images/Portfolio.png',width='75%',height='75%')
                                    h3(class='menu-label') Portfolio
                    -}
                    -if(roleId == constObj.getDEOroleId()){
                        //-div(class="ui-block-a")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href=contextPath + '/client/ci/loadReportsByCategory/#{constObj.getGroupsReports()}', rel="external", title='Groups', data-inline='true')
                                    img(id='groupIcon', src='/images/GroupManagement.png',width='75%',height='75%')
                                    h3(class='menu-label') Groups
                    -}
                    -if(roleId == constObj.getCCEroleId() || roleId == constObj.getAMHroleId()){
                        div(class="ui-block-a")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href=contextPath + '/client/ci/loadReportsByCategory/#{constObj.getGroupsReports()}', rel="external", title='Groups', data-inline='true')
                                    img(id='groupIcon', src='/images/GroupManagement.png',width='75%',height='75%')
                                    h3(class='menu-label') Groups
                    -}
                    -if(roleIds != null && roleIds.length > 1) {
                        div(class="ui-block-a")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href=contextPath + '/client/ci/loadReportsByCategory/#{constObj.getGroupsReports()}', rel="external", title='Groups', data-inline='true')
                                    img(id='groupIcon', src='/images/GroupManagement.png',width='75%',height='75%')
                                    h3(class='menu-label') Groups
                        div(class="ui-block-b")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href=contextPath + '/client/ci/loadReportsByCategory/#{constObj.getOperationalReports()}', rel="external", title='Groups', data-inline='true')
                                    img(id='groupIcon', src='/images/Operational.png',width='75%',height='75%')
                                    h3(class='menu-label') Operational
                    -}
                    -if(roleId == constObj.getBMroleId() || roleId == constObj.getSMHroleId() || roleId == constObj.getGuestUserRoleId()) {
                        -if(roleId != constObj.getGuestUserRoleId()){
                            div(class="ui-block-a")
                                div(data-role="fieldcontain", data-mini="true")
                                    a(href=contextPath + '/client/ci/loadReportsByCategory/#{constObj.getGroupsReports()}', rel="external", title='Groups', data-inline='true')
                                        img(id='groupIcon', src='/images/GroupManagement.png',width='75%',height='75%')
                                        h3(class='menu-label') Groups
                        -}
                        div(class="ui-block-c")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href=contextPath + '/client/ci/loadReportsByCategory/#{constObj.getOperationalReports()}', rel="external", title='Operational', data-inline='true')
                                    img(id='groupIcon', src='/images/Operational.png',width='75%',height='75%')
                                    h3(class='menu-label') Operational
                        -}
                div(data-role="horizontal", id="menuDetailsId", data-theme="a", class="ui-bar ui-grid-b", data-overlay-theme="a", data-inline="true")
                    -if(roleId == constObj.getSMHroleId() || roleId == constObj.getAMHroleId()) {
                        div(class="ui-block-a")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href=contextPath + '/client/ci/loadReportsByCategory/#{constObj.getFinancialReports()}', rel="external", title='Financial', data-inline='true')
                                    img(id='groupIcon', src='/images/Financial.png',width='75%',height='75%')
                                    h3(class='menu-label') Financial
                    -}
                    -if(roleId == constObj.getAccountsExecutiveRoleId() || roleId == constObj.getSMHroleId()) {
                        //-div(class="ui-block-d")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href=contextPath + '/client/ci/loadReportsByCategory/#{constObj.getManagementReports()}', rel="external", title='Management', data-inline='true')
                                    img(id='groupIcon', src='/images/Management.png',width='90%',height='90%')
                                    h3(class='menu-label') Management
                    -}
                    -if(roleId == constObj.getSMHroleId() || roleId == constObj.getAMHroleId()) {
                         div(class="ui-block-c")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href=contextPath + '/client/ci/loadReportsByCategory/#{constObj.getOperationalMonthlyReports()}', rel="external", title='Operational', data-inline='true')
                                    img(id='groupIcon', src='/images/Operational.png',width='75%',height='75%')
                                    h3(class='menu-label') Operational Monthly Report
                    -}

