extends ../layout
include ../header
block title
   title= 'IKLANT-GroupCountDashboard'
block scripts
   link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
   include ../headerJqueryMobile-1
   link(rel='stylesheet', href='/stylesheets/jqx.base.css')
   link(rel='stylesheet', href='/stylesheets/jquery.mobile.structure-1.1.1.min.css')
   link(rel='stylesheet', href='/stylesheets/popup.css')
   link(rel="stylesheet", href="/stylesheets/jquery.iviewer.css")
   link(rel="stylesheet", href="/stylesheets/iklant-table-layout.css")
   script(type='text/javascript', src='/javascripts/jquery-ui.js')
   script(type="text/javascript", src="/javascripts/jquery.mousewheel.min.js")
   script(type="text/javascript", src="/javascripts/jquery.iviewer.js")
   script(type='text/javascript', src='/javascripts/jqxcore.js')
   script(type='text/javascript', src="/javascripts/jqxsplitter.js")
   script(type="text/javascript",src="/javascripts/jsapi.txt")
   script(type='text/javascript', src="/javascripts/bo_dashboard/groupDetailDashboard.js")
   script(type='text/javascript', src='/javascripts/commonCustom.js')
block content
   form(id='BMFormId')
      div(data-role='page', data-theme='b')
         +header("KYC Process Dashboard",["menu", "logout"],"",[])
         input(type='hidden', name='alertMessageHidden', id='alertMessageHidden', value="#{}")
         div(data-role="fieldcontain")
            span
               a(href="JavaScript:regionalWiseGroupCountDashBoard()",id="clientCurrentStatus" , data-inline='true', data-mini='true')  RegionalWise
               b  /
               a(href="JavaScript:branchWiseGroupCountDashBoard()",id="clientCurrentStatus" , data-inline='true', data-mini='true')  #{regionalOfficeName}
               b  /
               a(href="JavaScript:statusWiseGroupCountDashBoard()",id="clientCurrentStatus" , data-inline='true', data-mini='true')  #{branchOfficeName}
               b / #{statusDescription} - #{toDate}
         div(data-role='content', id="mainSplitter", data-theme="b" )
            div(class='vertical-scroll-bar', id="leftPanel")
               div(class='buttonWrapper', data-overlay-theme="b")
                  h3(id='imageName',align='center') Group List
               div
                  table
                     tr
                        th S.NO
                        th Group Code
                        th Center Name
                        th Total Clients
                        th Hold Clients
                        th Rejected Clients
                        th FO Name
                     -for(var i=0;i< groupListForSelectedStatusJsonArray.length; i++) {
                        tr
                           td(style="text-align:center") #{i + 1}
                           td(style="text-align:center") #{groupListForSelectedStatusJsonArray[i].groupName}
                           td(style="text-align:center")
                              a(href="JavaScript:getClientListForSelectedGroup(#{groupListForSelectedStatusJsonArray[i].groupId},'#{groupListForSelectedStatusJsonArray[i].centerName}')" ,id="KYCVerification"+i , data-inline='true', data-mini='true') #{groupListForSelectedStatusJsonArray[i].centerName}
                           td(style="text-align:center") #{groupListForSelectedStatusJsonArray[i].totalClientCount}
                           td(style="text-align:center") #{groupListForSelectedStatusJsonArray[i].holdClientCount}
                           td(style="text-align:center") #{groupListForSelectedStatusJsonArray[i].rejectedClientCount}
                           td(style="text-align:center") #{groupListForSelectedStatusJsonArray[i].foName}
                     - }
            div(class='vertical-scroll-bar', id="rightPanel")
               div(class='buttonWrapperRightPannel', data-overlay-theme="b",style='display:none;')
                  h3(id='imageNameRightPanel',align='center')
                  div(data-role="content",id="clientListDivId",style = "overflow: auto;")
         div(data-role="popup", data-theme="b", data-overlay-theme="b", id="recentActivityPopup")
            a(href="#recentActivityPopup",data-rel="back",data-role="button",data-theme="a",data-icon="delete",data-iconpos="notext",class="ui-btn-right") Close
            div(data-role="navbar")
               ul(id="custom-nav-list")
                  li
                     a(href="", rel="external", data-role="tab" , id="poupHeaderId")
            div(id="holdHistoryDivId",style = "overflow: auto;")
