!!! 5
html(lang = "en")
    head
        title= 'IKLANT-ActiveGMSummary'
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        meta(http-equiv='Cache-Control', content='no-cache, private, no-store, must-revalidate, max-stale=0, post-check=0, pre-check=0')
        meta(http-equiv='Pragma', content='no-cache')
        meta(http-equiv='Expires', content='-1')
        link(rel="stylesheet",href="/stylesheets/jquery.mobile-1.3.0-beta.1.min.css")
        link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/jquery.mobile.structure-1.1.1.min.css')
        link(rel='stylesheet', href='/stylesheets/jquery.custom.css')
        link(rel='stylesheet', href='/stylesheets/dialogStyle.css')
        link(rel='stylesheet', href='/stylesheets/tablereport.css')
        link(rel='stylesheet', href='/stylesheets/loanSanctionCustom.css')
        script(type='text/javascript', src='/javascripts/jquery-1.8.3.min.js')
        script(type='text/javascript', src='/javascripts/jquery.mobile-1.3.0-beta.1.min.js')
        script(type='text/javascript', src='/javascripts/jquery-ui.js')
        script(type="text/javascript",src="/javascripts/jsapi.txt")
        script(type='text/javascript', src='/javascripts/trailBalance.js')
        script(type="text/javascript", src="/javascripts/reportmgmt.js")
        script(type="text/javascript", src="/javascripts/jquery.dataTables.js")
        script(type='text/javascript', src='/javascripts/common.js')
    body(style="overflow-x:hidden")
        form(id='activeGMSummaryReport')
            input(type='hidden', name='selectedDocName', id='selectedDocName', value="#{fileLocation}")
            input(type='hidden', name='reportPageName', id='reportPageName', value="activeGMSummaryReport")
            input(type='hidden', name='report_download_flag', id='report_download_flag', value="#{download_report}")
            div(data-role='page', data-theme='b', id="loginDetailsDiv")
                div(data-role="header", data-theme="a", class="ui-bar ui-grid-a", data-overlay-theme="c")
                    div(class="ui-block-a")
                        img(id='groupIcon', style="margin:5px 10px 0 0; text-align:right;",src='/images/iklant.png')
                    div(class="ui-block-b",align="right")
                        h3(align="right",style="margin:20px 10px 0 0")
                        a(href=contextPath + '/client/ci/reportsMenuByCategory/Management', rel="external",data-icon='arrow-l', data-role='button', title='Back', data-inline='true') Back
                        a(href=contextPath + '/client/ci/menu', rel="external",data-icon='home', data-role='button', title='Home', data-inline='true') Home
                        a(href=contextPath + '/client/ci/logout',  rel="external",data-icon='back', data-role='button', title=' Logout ', data-inline="true") Logout
                div(data-role="navbar",id="navid")
                    ul(id="custom-nav-list")
                        li
                            a(rel="external", data-role="tab" , id="table-li-1",class="ui-btn-active") Active Groups and Members Summary
                div(data-role="collapsible", data-collapsed="false", data-theme="b", data-content-theme="b",id='activeGMSummaryReportDiv')
                    h3 Select Dates to view Active Groups and Members Summary
                    p(id="errorField",class="error_label",align="center")
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            div(data-role="fieldcontain")
                            label(id="report_label_align") From Date
                        div(class='ui-block-b',style="width:20%")
                            div(data-role="fieldcontain")
                                input(type="text", class="fromDate",name="fromdateValue", id="fromdateValue",readonly = "readonly", value="#{startDate}", required='true')
                        div(class='ui-block-c',style="width:15%")
                            div(data-role="fieldcontain")
                            label(id="report_label_align") To Date
                        div(class='ui-block-d',style="width:20%")
                            div(data-role="fieldcontain")
                                input(type="text", class="toDate",name="todateValue", id="todateValue",readonly = "readonly", value="#{endDate}", required='true')
                        div(class='ui-block-e',style="width:10%")
                            div(data-role="fieldcontain")
                            label(id="report_label_align") Office
                        div(class='ui-block-e',style="width:20%")
                            div(data-role="fieldcontain")
                            select(name='listofficeValue', id='listofficeValue', data-theme='b', data-icon='grid', data-inline='true', data-mini='true')
                                option(value='-1') All
                                -for(i=0;i<officeIdArray.length;i++){
                                    -if(officeValue == officeIdArray[i]){
                                        option(value=officeIdArray[i],selected="") #{officeNameArray[i]}
                                    -}else{
                                        option(value=officeIdArray[i]) #{officeNameArray[i]}
                                    -}
                                -}
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            div(data-role="fieldcontain")
                            label(id="report_label_align") Customer
                        div(class='ui-block-b',style="width:35%")
                            div(data-role="fieldcontain")
                                input(type="text", name="customerValue", id="customerValue", value="#{customerVal}", required='true',onkeyup='forNamesValidation(this)')
                        div(class='ui-block-c',style="width:15%")
                            div(data-role="fieldcontain")
                            label(id="report_label_align") Account No
                        div(class='ui-block-d',style="width:35%")
                            div(data-role="fieldcontain")
                                input(type="text", name="accountNoValue", id="accountNoValue", value="#{accountNo}", required='true',onkeyup='forNumbers(this)')
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-bar ui-grid-c")
                        div(class='ui-block-a')
                        div(class='ui-block-b',align="center")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href="JavaScript:generateReportPageWithOfficeDateCustomerAccount('activeGMSummaryReport','')",id="activeGMSummary_report_download",rel="external",data-role='button', title=' Download ', data-inline="true",data-mini="true") Generate Report
                        div(class='ui-block-c',align="center")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href='#',id="activeGMSummary_report_download",rel="external", data-role='button', title=' Download ', data-inline="true",data-mini="true",onclick="JavaScript:generateReportPageWithOfficeDateCustomerAccount('activeGMSummaryReport','Download')") Export To Excel
                -if(result != null){
                div(id="activeGMSummaryReportTableId",style = "overflow: auto;")
                    table(id="fixedHeader_detailedsummary", CLASS="DISPLAY", cellspacing="0", width="100%")
                        thead
                            tr
                                th S.No
                                th Office
                                th Active Groups
                                th Active Clients
                        -if(result.length != 0){
                        - for(var i=0;i<result.length;i++) {
                            tbody
                                tr(class="showhide")
                                    td #{i+1}
                                    td #{result[i].office}
                                    td #{result[i].active_groups}
                                    td #{result[i].active_clients}
                        - }
                        -}else{
                            tbody
                                tr
                                    td(align="center",colspan=9) No Records
                        -}
                -}
                div(class="ui-loader-background")