doctype
html(lang = "en")
    head
        title= 'IKLANT-Bank Book'
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width, initial-scale=1')
        meta(http-equiv='Cache-Control', content='no-cache, private, no-store, must-revalidate, max-stale=0, post-check=0, pre-check=0')
        meta(http-equiv='Pragma', content='no-cache')
        meta(http-equiv='Expires', content='-1')
        link(rel="stylesheet",href="/stylesheets/jquery.mobile-1.3.0-beta.1.min.css")
        link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/jquery.mobile.structure-1.1.1.min.css')
        link(rel='stylesheet', href='/stylesheets/jquery.custom.css')
        link(rel='stylesheet', href='/stylesheets/dialogStyle.css')
        link(rel='stylesheet', href='/stylesheets/tablereport.css')
        link(rel='stylesheet', href='/stylesheets/loanSanctionCustom.css')
        script(type='text/javascript', src='/javascripts/jquery-1.8.3.min.js')
        script(type='text/javascript', src='/javascripts/jquery.mobile-1.3.0-beta.1.min.js')
        script(type='text/javascript', src='/javascripts/jquery-ui.js')
        script(type="text/javascript",src="/javascripts/jsapi.txt")
        script(type="text/javascript", src="/javascripts/constantjs.js")
        script(type="text/javascript", src="/javascripts/reportmgmt.js")
        script(type='text/javascript', src='/javascripts/trailBalance.js')
        script(type="text/javascript", src="/javascripts/jquery.dataTables.js")
        script(type='text/javascript', src='/javascripts/common.js')
    body(style="overflow-x:hidden")
        form(id='bankBookReport')
            input(type='hidden', name='selectedDocName', id='selectedDocName', value="#{fileLocation}")
            input(type='hidden', name='reportPageName', id='reportPageName', value="bankBookReport")
            input(type='hidden', name='report_download_flag', id='report_download_flag', value="#{download_report}")
            input(type='hidden', name='reportType', id='reportType')
            input(type='hidden', name='reportName', id='reportName', value="financialReports")
            input(type='hidden', name='finYearIdArray', id='finYearIdArray', value="#{FinancialYearLoadHolder.getFinancialYearIdArray()}")
            input(type='hidden', name='startDateArray', id='startDateArray', value="#{FinancialYearLoadHolder.getFinancialYearStartDateArray()}")
            input(type='hidden', name='endDateArray', id='endDateArray', value="#{FinancialYearLoadHolder.getFinancialYearEndDateArray()}")
            div(data-role='page', data-theme='b', id="loginDetailsDiv")
                div(data-role="header", data-theme="a", class="ui-bar ui-grid-a", data-overlay-theme="c")
                    div(class="ui-block-a")
                        img(id='groupIcon', style="margin:5px 10px 0 0; text-align:right;",src='/images/iklant.png')
                    div(class="ui-block-b",align="right")
                        h3(align="right",style="margin:20px 10px 0 0")
                        a(href=contextPath + '/client/ci/reportsMenuByCategory/#{constantsObj.getFinancialReports()}', rel="external",data-icon='arrow-l', data-role='button', title='Back', data-inline='true') Back
                        a(href=contextPath + '/client/ci/menu', rel="external",data-icon='home', data-role='button', title='Home', data-inline='true') Home
                        a(href=contextPath + '/client/ci/logout',  rel="external",data-icon='back', data-role='button', title=' Logout ', data-inline="true") Logout
                div(data-role="navbar",id="navid")
                    ul(id="custom-nav-list")
                        li
                            a(rel="external", data-role="tab" , id="table-li-1",class="ui-btn-active") Bank Book
                div(data-role="collapsible", data-collapsed="false", data-theme="b", data-content-theme="b",id='bankBookReportDiv')
                    h3 Select Dates to view Bank Book
                    p(id="errorField",class="error_label",align="center")
                    div(data-role="horizontal", data-theme="b", data-overlay-theme="b",class="ui-grid-a")
                        div(class='ui-block-a',style='width:15%')
                            div(data-role="fieldcontain")
                            label(id="report_label_top") Financial Year
                        div(class='ui-block-b',style='width:15%')
                            div(data-role="fieldcontain")
                                select(name='finYearId', id='finYearId', data-theme='b', data-icon='grid', data-inline='true', data-mini='true')
                                    -for(i=0;i<finResult.length;i++){
                                        -if(finResult[i].financialyear_id == finYearId){
                                            option(value=finResult[i].financialyear_id,selected='selected') #{finResult[i].financialyear_id}
                                        -}
                                        -else{
                                            option(value=finResult[i].financialyear_id) #{finResult[i].financialyear_id}
                                        -}
                                    - }
                        div(class='ui-block-c',style="width:12%")
                            div(data-role="fieldcontain")
                            label(id="report_label_top") From Date
                        div(class='ui-block-d',style="width:20%")
                            div(data-role="fieldcontain")
                                input(type="text",name="fromdateBB", id="fromdateBB",readonly = "readonly", value="#{startDate}", required='true',class='finFromDate')
                        div(class='ui-block-e',style="width:10%")
                            div(data-role="fieldcontain")
                            label(id="report_label_top") To Date
                        div(class='ui-block-e',style="width:20%")
                            div(data-role="fieldcontain")
                                input(type="text",name="todateBB", id="todateBB",readonly = "readonly", value="#{endDate}", required='true',class='finToDate')
                    div(data-role="horizontal", data-theme="b", data-overlay-theme="b",class="ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            div(data-role="fieldcontain")
                            label(id="report_label_top") Ledger
                        div(class='ui-block-b',style="width:25%")
                            div(data-role="fieldcontain")
                                select(name='listledgerBB', id='listledgerBB', data-theme='b', data-icon='grid', data-inline='true', data-mini='true',onchange='generateLedgerBankBook();')
                                    -for(i=0;i<ledger_name_array.length;i++){
                                        -if(ledgerValue == gl_code_value_array[i]){
                                            option(value=gl_code_value_array[i],selected="",id='listledgerBB') #{ledger_name_array[i]} [#{gl_code_value_array[i]}]
                                        -}else{
                                            option(value=gl_code_value_array[i],id='listledgerBB') #{ledger_name_array[i]} [#{gl_code_value_array[i]}]
                                        -}
                                    - }
                                input(type="hidden",name="ledgerNameBB", id="ledgerNameBB")
                        //-div(class='ui-block-c',style="width:12%")
                            div(data-role="fieldcontain")
                            label(id="report_label_top") Office
                        //-div(class='ui-block-d',style="width:20%")
                            div(data-role="fieldcontain")
                                select(name='listofficeBB', id='listofficeBB', data-theme='b', data-icon='grid', data-inline='true', data-mini='true',style="display:none;")
                                    option(value='-1') All
                                       -for(i=0;i<officeIdArray.length;i++){
                                           -if(officeValue == officeIdArray[i]){
                                                option(value=officeIdArray[i],selected="") {officeNameArray[i]}
                                            -}else{
                                                option(value=officeIdArray[i]) {officeNameArray[i]}
                                            -}
                                        -}
                        div(class='ui-block-c',style='width:13%;')
                            div(data-role="fieldcontain",align="left")
                                input(type='checkbox', name='accOperation',id='accOperation',checked=(accOperation==="on" ? "checked" : undefined),data-mini='true',value=accOperation)
                                label(for='accOperation') Accounting Trxns
                        div(class='ui-block-d',style='width:1%;')
                        div(class='ui-block-e',style='width:10%;',align='right')
                            div(data-role="fieldcontain",align="right")
                                input(type='checkbox', name='mfiOperation',id='mfiOperation',checked=(mfiOperation==="on" ? "checked" : undefined),data-mini='true',value=mfiOperation)
                                label(for='mfiOperation') MFI Trxns

                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-bar ui-grid-c")
                        div(class='ui-block-a',align="right")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href="JavaScript:generateBankBookReport('bankBookReport','Summary')",id="loan_disbursal_report_download",rel="external", data-role='button', title=' Download ', data-inline="true",data-mini="true") View Summary
                        div(class='ui-block-b',align="center")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href="JavaScript:generateBankBookReport('bankBookReport','Detailed')",  rel="external",data-theme="b", data-role='button', title=' Save ', data-inline="true", data-mini='true') View Detailed Report
                        div(class='ui-block-c',align="left")
                            div(data-role="fieldcontain", data-mini="true")
                                a(href='#',id="bank_book_report_download",rel="external", data-role='button', title=' Download ', data-inline="true",data-mini="true",onclick="generateBankBookReport('bankBookReport','Download')") Export To Excel
                -if(result != null){
                    -if(result.length>0){
                        div(id="bankBookReportTableId",style = "overflow: auto;",class=(result.length>10)?'container '+detailed:detailed)
                            div(data-role="navbar",id="navid")
                                ul(id="custom-nav-list")
                                    li
                                        a(rel="external", data-role="tab" , id="table-li-1",class="ui-btn-active") Bank Book Detailed Report
                            table(id="fixedHeader_detailedsummary", CLASS="DISPLAY", cellspacing="0", width="100%")
                                thead
                                    tr
                                        th(width="25%") S.No.
                                        th(width="25%") Office
                                        th(width="25%") Customer
                                        th(width="25%") Payment Date
                                        th(width="25%") Ledger
                                        th(width="25%") Narration
                                        th(width="25%") Transaction Type
                                        th(width="25%") Cheque No
                                        th(width="25%") Voucher No
                                        th(width="25%") Debit
                                        th(width="25%") Credit
                                        th(width="25%") Closing Bal
                                -if(result.length != 0){
                                - for(var i=0;i<result.length;i++) {
                                    -if(result[i].id != null){
                                tbody
                                    tr(class="showhide")
                                        td(align='center') #{i+1}
                                        td #{result[i].office}
                                        td #{result[i].customer}
                                        td(align='center') #{result[i].payment_date}
                                        td #{result[i].ledger}
                                        td #{result[i].narration}
                                        td(align='center') #{result[i].transaction_type}
                                        td #{result[i].cheque_number}
                                        td #{result[i].voucher_number}
                                        td(align='right') #{result[i].debit}
                                        td(align='right') #{result[i].credit}
                                        td(align='right') #{result[i].closing_balance}
                                    -}
                                - }
                                -}
                        div(style = "overflow: auto;",class=summary)
                            div(data-role="navbar",id="navid")
                                ul(id="custom-nav-list")
                                    li
                                        a(rel="external", data-role="tab" , id="table-li-1",class="ui-btn-active") Bank Book Summary
                            table
                                tr
                                    th Opening Balance
                                    th Total Debit
                                    th Total Credit
                                    th Closing Balance
                                -if(result.length != 0){
                                tr
                                    td(align='right') #{result['opening_balance']}
                                    td(align='right') #{result['total_debit']}
                                    td(align='right') #{result['total_credit']}
                                    td(align='right') #{result['closing_balance']}
                                -}
                    -}else{
                        tbody
                            tr
                                div(align='center')
                                    span(style='font-weight:bold') No records to display
                        -}
                -}
                div(class="ui-loader-background")