extends ../layout
include ../header

block title
    title= 'IKLANT-Manage Audit Questions'

block scripts
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    include ../headerJqueryMobile-1
    link(rel='stylesheet', href='/stylesheets/jquery.mobile.structure-1.1.1.min.css')
    link(rel='stylesheet', href='/stylesheets/iklant-table-layout.css')
    script(type='text/javascript', src='/javascripts/jquery-ui.js')
    script(type='text/javascript', src='/javascripts/auditing/auditing.js')

block content
    form(id='auditManagementForm')
        div(data-role='page', data-theme='b')
            +header("Assign Auditor",["menu","logout"])
            div(data-role="navbar", data-grid="d")
                ul
                    -for(var i=0;i< operationIdArray.length;i++) {
                        -if(operationIdArray[i] == selectedOperationId) {
                            li
                                a(href="JavaScript:operationSubmitForAuditMgmt('#{operationIdArray[i]}');", rel="external", data-role="tab", class="ui-btn-active") #{operationNameArray[i]}
                        -}
                        -else {
                            li
                                a(href="JavaScript:operationSubmitForAuditMgmt('#{operationIdArray[i]}');", rel="external", data-role="tab") #{operationNameArray[i]}
                        -}
                    -}
                    input(type='hidden',id='operationId',name='operationId',value=selectedOperationId)
            div(data-role='content', data-theme="b", data-overlay-theme="b", data-inline="true")
                p(id='errorMessageId',align="center",class='error-message global-font-details')
                p(id='successMessage',align="center",class='success-message global-font-details') #{statusMessage}
                div(data-role="collapsible", data-collapsed="false", data-content-theme="b", id="addUDiv")
                    h3 Assign Auditor
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            div(data-role='fieldcontain')
                                label(for="auditees",class='label') Auditor
                        div(class='ui-block-b',style="width:15%")
                            div(data-role='fieldcontain')
                                div(data-role='fieldcontain',align='left')
                                select(name='auditees',data-mini="true" ,data-inline="true", id='auditees', onchange="retriveAssignment()")
                                    option(value='0') Select Auditor
                                    - for(var i=0;i<auditorId.length;i++) {
                                        option(value='#{auditorId[i]}') #{auditorName[i]}
                                    - }
                    div(data-role="collapsible", data-collapsed="false", data-theme="b",data-content-theme="c")
                        h3 Current Assignment
                        div(data-role="fieldcontain",id="auditeesDivTable")
                            table
                                thead
                                    tr
                                        th(data-priority="1",rowspan="1",style='width:5%') S.No
                                        th(data-priority="1",rowspan="1",style='width:30%') Branch Name
                                        th(data-priority="1",rowspan="1",style='width:15%') From Date
                                        th(data-priority="1",rowspan="1",style='width:8%') To Date
                                tbody
                                    tr
                                        td
                                        td(data-priority="1",rowspan="1",align="center") No Auditor Choosen
                                        td
                                        td
                        div(id="displayAssignmentid", data-theme="b", data-overlay-theme="b", data-inline="true")
                            div(data-role="fieldcontain",id="assignmentDivTable")
                    div(data-role="horizontal", data-theme="a", data-overlay-theme="a",class="ui-grid-a")
                        div(class='ui-block-a',style="width:15%")
                            div(data-role='fieldcontain')
                                label(for="officeId",class="label") Branch
                        div(class='ui-block-b',style="width:15%")
                            div(data-role='fieldcontain')
                                select(name='officeId',  id='officeId',data-inline='true',data-mini="true")
                                    option(value='0') Select Branch
                                    - for(var i=0;i<officeIdArray.length;i++) {
                                        option(value='#{officeIdArray[i]}') #{officeNameArray[i]}
                                    - }
                        input(type="hidden",name = "officeIdHidden",id ="officeIdHidden",value=officeIdArray)
                        input(type="hidden",name = "officeNameHidden",id ="officeNameHidden",value=officeNameArray)
                        input(type="hidden",name = "auditEmailIdHiddenArray",id ="auditEmailIdHiddenArray",value=auditEmailIdArray)
                        input(type="hidden",name = "auditorIdHidden",id ="auditorIdHidden",value=auditorId)
                        input(type="hidden",name = "emailIdHidden",id ="emailIdHidden")
                        div(class='ui-block-c',style="width:15%")
                            div(data-role='fieldcontain')
                            label(id="report_label_top") From Date
                        div(class='ui-block-c',style="width:15%")
                            div(data-role="fieldcontain")
                                input(type="text", name="fromdate", id="fromdate",readonly = "readonly", value=startDate, required='true',class='fromDateDC')
                        div(class='ui-block-d',style="width:15%")
                            div(data-role='fieldcontain')
                            label(id="report_label_top") To Date
                        div(class='ui-block-d',style="width:15%")
                            div(data-role="fieldcontain")
                                input(type="text", name="todate", id="todate", value=endDate,readonly = "readonly", required='true',class='toDateDC')
                        div(class='ui-block-a',style="width:15%")
                            div(data-role='fieldcontain')
                                label(id="auditLabel",class='label') Audit Type
                        div(class='ui-block-b',style="width:15%")
                            div(data-role='fieldcontain')
                                select(name='auditType',data-mini="true" ,data-inline="true", id='auditType')
                                    option(value='0') Select Audit Type
                                    - for(var i=0;i<auditIdArray.length;i++) {
                                        option(value='#{auditIdArray[i]}') #{auditNameArray[i]}
                                    - }
                        div(class='ui-block-b',style="width:15%")
                            div(data-role='fieldcontain')
                                label(id="categoryLabel",class='label') Category Type
                        div(class='ui-block-c',style="width:25%")
                            div(data-role='fieldcontain')
                                select(name='categoryType',data-mini="true" ,data-inline="true", id='categoryType')
                                    option(value='0') Select Category
                                    - for(var i=0;i<categoryId.length;i++) {
                                        option(value='#{categoryId[i]}') #{categoryName[i]}
                                    - }
                    div(data-role="fieldcontain",align="center")
                        a(href='JavaScript:auditAssignSubmitForm()',  rel="external",data-theme="b",data-icon='check', data-role='button', title=' Save ', data-inline="true", data-mini='true') Assign
                        a(href="",id="backUId", rel="external",data-theme="b",data-icon='back', data-role='button', title='Back', data-inline="true", data-mini='true') Back
            div(class="ui-loader-background")